// 1: overrides van default bootstrap voorkeuren
$blue: white;
//
// 2: laden van bootstrap (en compilen)
@import "bootstrap/bootstrap";
//
// 3: eigen code:
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.navbar {
    opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    text-align: center;
    background-position: center;
}

#home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    /* background: rgba(0, 0, 0, 0.5); */
}

#home-section .home-inner {
    padding-top: 350px;
}

.parallax {
    background-image: url("../img/header-bg.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-section h1 {
    font-size: 80px;
    color: white;
}

#home-section h3 {
    font-size: 20px;
    color: white;
}

#over-mij {
    background: #ff6699;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#over-mij h5,
p {
    color: white;
}

#over-mij i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

// .button:hover {
//     background-color: #555555;
//     color: white;
// }